#wpadminbar [id*=wptxu-up-tx-] {
	width: 250px;
}

#wpadminbar .flag-icon {
	width: 17.3333px !important;
	height: 32px !important;
}

#wpadminbar .wptxu-project-infos {
	padding: .5em 0;
}

#wpadminbar .wptxu-project-infos p {
	text-align: center;
	padding-bottom: 1em;
}

#wpadminbar .wptxu-project-infos button {
	border-radius: 3px;
	padding-left: 10px;
	padding-right: 10px;
}

#wpadminbar ul.wptxu-response-list {
	padding: .5em 0 .5em 0;
	border-top: 1px solid rgba(0,0,0, .1);
}
#wpadminbar ul.wptxu-response-list li {
	font-size: .9em !important;
	padding-left: .5em;
}
#wpadminbar ul.wptxu-response-list li.check-api {
	list-style: none !important;
}
#wpadminbar li.check-api span {
	content: "\f463";
    font: normal 20px/1 dashicons;
    color: rgba(240,245,250,0.6);
}

div[id*=wptxu-input-] {
	margin-bottom: .5em;
}

.wptxu-notice{
	padding-left: 1em;
	border-left: 3px solid #FFF;
}
.wptxu-success {
	color: #46b450;
	border-color: #46b450;
}
.wptxu-warning {
	color: #ffb900;
	border-color: #ffb900;
}
.wptxu-error {
	color: #dc3232;
	border-color: #dc3232;
}

.wptxu-spin {
	-webkit-animation: wptxu-spin 2s infinite linear;
	animation: wptxu-spin 2s infinite linear;
}
@keyframes wptxu-spin {

	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}

}

.wptxu-license-information {
   display: -webkit-box;
     display: -webkit-flex;
       display: -ms-flexbox;
         display: flex;
   -webkit-flex-wrap: wrap;
     -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   -webkit-box-pack: justify;
     -webkit-justify-content: space-between;
       -ms-flex-pack: justify;
         justify-content: space-between;
   -webkit-box-align: center;
     -webkit-align-items: center;
       -ms-flex-align: center;
         align-items: center;
 }

 .wptxu-vam {
    vertical-align: middle;
 }